html {
	background-image:url("oboiki6.jpg" );
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	
	font-family:Candara light;
	
	display:flex;
	flex-direction:column;	
}
.navigation1 {
    background:#ffb0c9;
	display:flex;
	box-shadow: inset 0 -10px 30px #e3e4e6;		
	margin-top:-8;
	justify-content:center;
}
.navul {
	list-style:none;
	display:flex;
	align-items:center;
}
.logogif {
	width:100;
	height:50;
	margin-left:50;
	padding:5;
}
.navul a {
	text-decoration:none;
	padding:20.5px 52px;
	color:#fafafa;
	transition: all .3s ease;
}
.navul a:hover {
	background:#bfd5ff;
	box-shadow: inset 0 -10px 30px #f7f7f7;
}
@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
section {
    -webkit-animation: fade-in 1s linear; 
    -moz-animation: fade-in 1s linear; 
    -o-animation: fade-in 1s linear; 
    animation: fade-in 1s linear;
	padding-top:45px;
	display:flex;
	flex-direction:column;
}
footer {
	background:rgba(222, 104, 157,0.7);
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding-top:5px;
	margin-top:50px;
}
.some {
	display:flex;
	flex-direction:column;
	flex-basis:20%;
	margin-left:300;
}
.picpodpis {
	display:flex;
	justify-content:center;
	color:#fcec03;
}
.foot-some-pic {
	display:flex;
	align-items:center;
	flex-direction:raw;
	justify-content:center;
}
.instpic, .twitterpic, .facebookpic {
	padding:5;
	width:30px;
	height:30px;
	display:flex;
}
.foot-lin {
	padding:5;
	
	display:flex;
	flex-basis:30%;
	flex-direction:column;
	align-items:center;
}
.foot-lin a {
	text-decoration:none;
	padding:5;
	color:#fcec03;
	transition: all .2s ease;
}
.foot-lin a:hover { 
    color:white;
}
.foot-copy {
	display:flex;
	color:white;
	flex-basis:30%;
}
.art1  {
	display:flex;
	flex-direction:column;
	align-items:center;
	width:70%;
	align-self:center;
	padding:30;padding-bottom:60;
	margin-top:30;
	background:rgba(204, 224, 255,0.4);
	font-size:20;
	position:relative;
}
.art1 ul {
	list-style:none;
}
.art1 h1 {
	font-size:45px;
	color:#3d3d3d;
}
.art1 h2 {
	font-size:40px;
	color:#3d3d3d;
}

.art1 p {
	font-size:20px;
}
.kurssitteksti h2 {
	text-align:center;
	font-size:32px;
}
.palaute h2 {
	text-align:center;
	font-size:35;
}
.paikka {
	display:flex;
	flex-direction:column;
	align-items:center;
}
.paikka p {
	text-align:center;
    padding-top:20px;
}
.glavpic {
	width:640;
	height:527;
	margin-left:-20;
}
.knopka {
	width:60px;
	height:60px;
	margin-left:30px;
    border-radius:50%;
	position:relative;
}
.knoppka {
	width:0px;
	height:0px;
	padding-bottom:50px;
}
.knopka img {
	height:50px;
	width:50px;
	border:4px dotted transparent;
}
.knoppka:hover .knopka img{
	border:4px dotted #fff7e8;
	border-radius:50%;
	transition:.3s;
	padding:4px;
}
table, th,td {
	border:1px solid #737373;
	border-collapse:collapse;
}
th,td {
	text-align:center;
	padding:8;
	font-size:18;
}
table {
	margin-top:35;
	width:700px;
	height:auto;
}
table .kuvausth {
	width:30%;
}
.a {
	position:absolute;
	border:4px dotted transparent;
	width:0;
	height:0;
	transition:.3s;
}
.a1{top:0;left:0;border-bottom:none;border-right:none;}
.a2{top:0;right:0;border-bottom:none;border-left:none;}
.a3{bottom:0;right:0;border-top:none;border-left:none;}
.a4{bottom:0;left:0;border-top:none;border-right:none;}
.art1:hover .a {
	width:40px;
	height:40px;
	border-color:#fff7e8;
}
.paikkapic { 
    width:100%;
	height:auto;
	border:2px solid #ffb0c9
}
.kurssiinfotxt {
	display:none;
}
@media screen and (max-width: 1073px) {
.logogif {
	width:100;
	height:50;
}
.a {
	display:none;
}
.navul a {
	padding:20 9;
	transition:none;
}
.navigation1 {
	justify-content:center;
	font-size:17px;
}
.art1 {
	border:2px dotted #fff7e8;
	width:90%;
}
.kont {
	margin-left:0;
}
.foot-lin a {
	transition:none;
}
.some {
	display:flex;
	flex-direction:column;
	flex-basis:30%;
	margin-left:50px;
}
.foot-lin {
	padding:5;
	
	display:flex;
	flex-direction:column;
	align-items:center;
}
.kurssiinfotxt {
	display:none;
}
table {
	width:100%;
}
.knoppka:hover .knopka img{
	border:none;
	padding:0;
}
.knopka {
	margin-top:20px;
	border-radius:70%;
}
}	
@media screen and (max-width:700px) {
.navigation1 {
	display:block;
}
.navul {
	flex-direction:column;
	font-size:40px;
}
.navul li {
	width:100%;
	text-align:center;
}
.navul a {
	display:block;
	margin-left:-40px;
	padding:30px;
	box-shadow: inset 0 -10px 30px #f7f7f7;
}
.logok {
	width:100%;
	display:flex;
	justify-content:center;
}
.logogif {
	margin-left:60px;
	width:400px;
	height:auto;
}
.kurssiinfotxt {
	display:block;
}
.paikkapic {
	width:400px;
	height:240px;
}
table th {
	display:none;
}
table td:before {
	content:attr(aria-label);
	font-weight:bold;
	font-size:25px;
	display:block;
	color:#737373;
}
table td {
	display:block;
	border:0.1px solid #737373;
}
tbody tr:nth-child(odd) {
	background:rgba(255, 226, 176,0.4);
}
table {
	border:none;
}
}
	