html {
	background-image:url("oboiki6.jpg");
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	
	font-family:Candara light;
	
	display:flex;
	flex-direction:column;	
}
.navigation1 {
    background:#ffb0c9;
	display:flex;
	box-shadow: inset 0 -10px 30px #e3e4e6;
	margin-top:-8;
	justify-content:center;
}
.navul {
	list-style:none;
	display:flex;
	align-items:center;
}	
.navul a {
    text-decoration:none;
	padding:20.5px 52px;
	color:#fafafa;
	transition: all .3s ease;
}
.navul a:hover {
	background:#bfd5ff;
	box-shadow: inset 0 -10px 30px #f7f7f7;
}	
.logogif {
	width:100;
	height:50;
	margin-left:50;
	padding:5;
}
footer {
	background:rgba(222, 104, 157,0.7);
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding-top:5px;
	margin-top:50px;
}
.some {
	display:flex;
	flex-direction:column;
	flex-basis:20%;
	margin-left:300;
}
.picpodpis {
	display:flex;
	justify-content:center;
	color:#fcec03;
}
.foot-some-pic {
	display:flex;
	align-items:center;
	flex-direction:raw;
	justify-content:center;
}
.instpic, .twitterpic, .facebookpic {
	padding:5;
	width:30px;
	height:30px;
	display:flex;
}
.foot-lin {
	padding:5;
	
	display:flex;
	flex-basis:30%;
	flex-direction:column;
	align-items:center;
}
.foot-lin a {
	text-decoration:none;
	padding:5;
	color:#fcec03;
	transition: all .2s ease;
}
.foot-lin a:hover { 
    color:white;
}
.foot-copy {
	display:flex;
	color:white;
	flex-basis:30%;
}
@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
section,.knopka { 
    -webkit-animation: fade-in 1s linear; 
    -moz-animation: fade-in 1s linear; 
    -o-animation: fade-in 1s linear; 
    animation: fade-in 1s linear;
	padding-top:45;
	display:flex;
	flex-direction:column;
}	
.art1  {
	display:flex;
	flex-direction:column;
	align-self:center;
	align-items:center;
	flex-wrap:wrap;
	width:70%;
	background:rgba(204, 224, 255,0.4);
	padding:40;
	position:relative;
}
.art1 ul {
	list-style:none;
}
.art1 h1 {
	font-size:45px;
	color:#3d3d3d;
}
.art1 h2 {
	font-size:40px;
	color:#3d3d3d;
}
.art1 p {
	font-size:20px;
}
.glavpic {
	width:640px;
	height:527px;
	margin-left:-20;
}
.pic2 {
	width:800px;
	height:450px;
}
.pic3 {
	width:350px;
	height:350px;
}
.pic4 { 
    width:330px;
	height:350px;
}
.pic5 {
	width:674px;
	height:456px;
}
.pic6 { 
    width:800px;
	height:450px;
}
.eshekartinka {
	width:810;
	height:550;
}
.kartinke {
	display:flex;
}
.kartinke img {
	padding:15;
}
.knopka {
	width:0px;
	height:0px;
	position:fixed;
	bottom:0;top:400px;left:40px;
    border-color:transparent;
}
.knopkins {
	width:12%;
	height:150em;
	position:fixed;
	top:60px;
	
}
.knopkins:hover .knopka img{
	border:4px dotted #fff7e8;
	border-radius:50%;
	padding:4px;
	display:block;
}
.knopkins:hover .knoppka {
	opacity:1;
}

.knoppka {
	transition:.3s;
	opacity:0.3;
}
.knopka img {
	height:50px;
	width:50px;
	border:4px dotted transparent;
	transition:.5s;
}
.linkimage {
	overflow:hidden;
	width:300;
	height:200;
}
.linkimage img {
	width:300;
	height:200;
}
.linkimage img {
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.linkimage img:hover {
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
}

.art3,.art4 {
	padding:30px;
	flex-direction:column;
	justify-content:center;
	margin-top:30;
	position:relative;
	width:300px;
	height:200px;
}
.luemy {
    font-size:15px;
    color:#3d3d3d;
	margin-top:50px;
	display:flex;
	justify-content:center;
	align-self:center;
	flex-direction:column;
	width:800px;
	height:300px;
	padding-bottom:90px;
	position:relative;
}
.headd {
	text-align:center;
	font-size:35;
}
.artikkelitlue {
	display:flex;
	flex-direction:row;
    justify-content:center;
}
.a {
	position:absolute;
	width:0;
	height:0;
	border:4px dotted transparent;
	transition:.3s;
}
.a1{top:0;left:0;border-bottom:none;border-right:none;}
.a2{top:0;right:0;border-bottom:none;border-left:none;}
.a3{bottom:0;right:0;border-top:none;border-left:none;}
.a4{bottom:0;left:0;border-top:none;border-right:none;}
.luemy:hover .a {
	width:40px;
	height:40px;
    border-color:#fff7e8;
}
@media screen and (max-width:1073px) {
.navul a {
	padding:20px 9px;
	transition:none;
}
.navigation1 {
	justify-content:center;
	font-size:17px;
}
.glavpic {
	width:550px;
	height:auto;
	margin-left:-20;
}
.pic2 {
	width:550px;
	height:auto;
}
.pic3 {
	width:250px;
	height:250px;
}
.pic4 {
	width:200px;
	height:230px;
}
.pic5 {
	width:550px;
	height:auto;
}
.pic6 {
	width:550px;
	height:auto;
}
.a {
	display:none;
}
.foot-lin a {
	transition:none;
}
.some {
	display:flex;
	flex-direction:column;
	flex-basis:30%;
	margin-left:50px;
}
.foot-lin {
	padding:5;
	
	display:flex;
	flex-direction:column;
	align-items:center;
}
.linkimage img {
	transition:none;
	-moz-transition:none;
	-webkit-transition:none;
}
.linkimage img:hover {
	-webkit-transform:none;
	-moz-transform:none;
}
}
@media screen and (max-width:700px) {
.navigation1 {
	display:block;
}
.navul {
	flex-direction:column;
	font-size:40px;
}
.navul li {
	width:100%;
	text-align:center;
}
.navul a {
	display:block;
	margin-left:-40px;
	padding:30px;
	box-shadow: inset 0 -10px 30px #f7f7f7;
}
.logok {
	width:100%;
	display:flex;
	justify-content:center;
}
.logogif {
	margin-left:-0.1px;
	width:400px;
	height:auto;
}
.glavpic {
	width:350px;
	height:auto;
	margin-left:-20;
}
.pic2 {
	width:350px;
	height:auto;
}
.pic3 {
	width:150px;
	height:150px;
}
.pic4 {
	width:150px;
	height:180px;
}
.pic5 {
	width:350px;
	height:auto;
}
.pic6 {
	width:380px;
	height:auto;
}
.artikkelitlue {
	align-items:center;
	flex-direction:column;
}
.luemy {
	margin-top:160px;
	margin-bottom:145px;
}
}